<a href="https://colab.research.google.com/github/MonachilAnalytics/assessment/blob/main/monachil_assesment_answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Greeting from Monachil Analytics Team!**

Please read the instruction carefully before you start coding. 

This assesment consists of three sessions.

1. The first part will asses your knowledge of SQL.
2. The second part will assess your data manipulation skills in Python.
3. The last part will ask for your feedback and opinion about the rotational program in our team.

This assesment demonstrates the day-to-day job that you would have to encounter at Monachil Capital Partners. Therefore, the context is related to our business. It is also a good chance for you to understand the nature of the data that you have to deal with as a part of analytics team.

# Section 1: Executing SQL query using Python

**Problem**

In this excercise you will do data manipulation and basic queries using SQL and Python.

In [ ]:
'''
Import libraries for data manipulation
'''
import pandas as pd
import datetime
import numpy as np
import sqlite3

**Part 1: Create a Loan Tape dataset**

*   Loan tape represents the information on when a debtholder is scheduled to make a payment on a loan that is uniquely identified by `LoanID`

In [ ]:
columns = ['LoanID','DisbursementDate','InstallmentNumber','FaceValue','InstallmentDueDate','ExpectedPayment']
data = [[1,datetime.date(2021,1,1),1,300,datetime.date(2021,2,1),100],
        [1,datetime.date(2021,1,1),2,300, datetime.date(2021,3,1),100],
        [1,datetime.date(2021,1,1),3,300, datetime.date(2021,4,1),100],
        [2,datetime.date(2021,6,1),1,400, datetime.date(2021,7,1),100],
        [2,datetime.date(2021,6,1),2,400, datetime.date(2021,8,1),100],
        [2,datetime.date(2021,6,1),3,400, datetime.date(2021,9,1),100],
        [2,datetime.date(2021,6,1),4,400, datetime.date(2021,10,1),100]
        ]

In [ ]:
'''
TO DO: Create a Loan Tape dataframe.
'''
dfLoanTape = pd.DataFrame(data,columns=columns)

In [ ]:
# This is the sample of the data frame that you want to achieve (dfLoanTape)
dfLoanTape

   LoanID DisbursementDate  ...  InstallmentDueDate  ExpectedPayment
0       1       2021-01-01  ...          2021-02-01              100
1       1       2021-01-01  ...          2021-03-01              100
2       1       2021-01-01  ...          2021-04-01              100
3       2       2021-06-01  ...          2021-07-01              100
4       2       2021-06-01  ...          2021-08-01              100
5       2       2021-06-01  ...          2021-09-01              100
6       2       2021-06-01  ...          2021-10-01              100

[7 rows x 6 columns]

**Part 2: Create a Collection Tape dataset**

*   Collection tape represents the information on when a debtholder makes an actual payment on a loan that is uniquely identified by `LoanID`

In [ ]:
collectionColumns = ['LoanID','CollectionDate','InstallmentNumber','CollectedAmount']
collectionData = [[1,datetime.date(2021,1,1),1,100],
        [1,datetime.date(2021,1,15),2,50],
        [1,datetime.date(2021,1,31),2,25],
        [2,datetime.date(2021,7,1),1,100],
        [2,datetime.date(2021,8,1),2,100],
        [2,datetime.date(2021,9,1),3,80],
        [2,datetime.date(2021,9,15),3,10]
        ]

In [ ]:
'''
TO DO: Create a Collection Tape dataframe.
'''
dfCollection = pd.DataFrame(collectionData,columns=collectionColumns)

In [ ]:
# This is the sample of the data frame that you want to archieve (dfCollection)
dfCollection

   LoanID CollectionDate  InstallmentNumber  CollectedAmount
0       1     2021-01-01                  1              100
1       1     2021-01-15                  2               50
2       1     2021-01-31                  2               25
3       2     2021-07-01                  1              100
4       2     2021-08-01                  2              100
5       2     2021-09-01                  3               80
6       2     2021-09-15                  3               10

**Part 3: Create a SQL database and upload Collection Tape and Loan Tape into SQL database**

In [ ]:
'''
Create a library for interaction with database
'''
def pd_to_sqlDB(input_df: pd.DataFrame,
                table_name: str,
                db_name: str = 'default.db') -> None:

    import logging
    logging.basicConfig(level=logging.INFO,
                        format='%(asctime)s %(levelname)s: %(message)s',
                        datefmt='%Y-%m-%d %H:%M:%S')

    cols = input_df.columns
    cols_string = ','.join(cols)
    val_wildcard_string = ','.join(['?'] * len(cols))

    con = sqlite3.connect(db_name)
    cur = con.cursor()
    logging.info(f'SQL DB {db_name} created')

    sql_string = f"""CREATE TABLE {table_name} ({cols_string});"""
    cur.execute(sql_string)
    logging.info(f'SQL Table {table_name} created with {len(cols)} columns')

    rows_to_upload = input_df.to_dict(orient='split')['data']
    sql_string = f"""INSERT INTO {table_name} ({cols_string}) VALUES ({val_wildcard_string});"""
    cur.executemany(sql_string, rows_to_upload)
    logging.info(f'{len(rows_to_upload)} rows uploaded to {table_name}')
  
    con.commit()
    con.close()


def sql_query_to_pd(sql_query_string: str, db_name: str ='default.db') -> pd.DataFrame:

    # Step 1: Connect to the SQL DB
    con = sqlite3.connect(db_name)

    # Step 2: Execute the SQL query
    cursor = con.execute(sql_query_string)

    # Step 3: Fetch the data and column names
    result_data = cursor.fetchall()
    cols = [description[0] for description in cursor.description]

    # Step 4: Close the connection
    con.close()

    # Step 5: Return as a dataframe
    return pd.DataFrame(result_data, columns=cols)

In [ ]:
'''
TO DO: Upload the Loan Tape to the SQL Table using pd_to_sqlDB()

You should upload dfLoanTape into database default.db into table named 'LoanTape'
'''
pd_to_sqlDB(dfLoanTape,
            table_name='LoanTape',
            db_name='default.db')

2021-10-01 14:00:23 INFO: SQL DB default.db created

OperationalError: ignored

In [ ]:
'''
TO DO: Upload the Collection Tape to the SQL Table using pd_to_sqlDB()

You should upload dfCollectionTape into database default.db into table named 'Collection'
'''
pd_to_sqlDB(dfCollection,
            table_name='Collection',
            db_name='default.db')

In [ ]:
'''
TO DO: Return all of the entries from the table 'LoanTape' and assign to LoanTapeFromDB
'''
sql_query_string = "SELECT * from LoanTape"
LoanTapeFromDB = sql_query_to_pd(sql_query_string, db_name='default.db')

In [ ]:
# This is the sample of the data frame that you want to archieve (LoanTapeFromDB)
LoanTapeFromDB

In [ ]:
'''
TO DO: Return all of the entries from the table 'Collection' and assign to CollectionTapeFromDB
'''
sql_query_string = "SELECT * from Collection"
CollectionTapeFromDB = sql_query_to_pd(sql_query_string, db_name='default.db')

In [ ]:
# This is the sample of the data frame that you want to archieve (CollectionTapeFromDB)
CollectionTapeFromDB

In [ ]:
'''
TO DO: Given 'Collection' and 'LoanTape' tables above, please find the cumulative amount of collection for each LoanID and each installment number (rename as Total Collection)
Return a table with the following columns:
LoanID, InstallmentNumber, DisbursementDate, FaceValue, ExpectedPayment, TotalCollection
'''
sql_query_string = "SELECT GropByTable.LoanID, GropByTable.InstallmentNumber, DisbursementDate, FaceValue, ExpectedPayment, TotalCollection from (SELECT LoanID, InstallmentNumber, sum(CollectedAmount) as TotalCollection from Collection group by LoanID, InstallmentNumber) as GropByTable JOIN LoanTape on (GropByTable.LoanID = LoanTape.LoanID and GropByTable.InstallmentNumber = LoanTape.InstallmentNumber)"
result_df = sql_query_to_pd(sql_query_string, db_name='default.db')

In [ ]:
# This is the table that you want to archieve at the end (result_df)
result_df

# Section 2 : Data manupulation using Python

As you have a general idea of what LoanTape and CollectionTape should look like, we are going to calculate something more challanging.

As a credit management fund, we deal with a lot of credit assets. Loan is one of the assets that we do the analysis a lot on, especially, the risk analysis. The goal of this analysis is to understand how likely a loan is to default. One of the ways to do that is to calculate the Days Past Due (DPD) metric on each loan as it determines how delinquent the borrower is. In general, we will calculate DPD at a particular day. DPD is non-zero when the borrowers pay late. 

For example, you borrowed \$100 from one of your best friends on 9/1/2021 and you promised to return the money to him on 10/1/2021 and 11/1/2021 \$50 each time. In technical terms, you agreed to pay off your debt in two installments. 

On 10/1/2021, you pay back \$50 so your DPD is 0 since you are a good borrower and pay on time. On 10/15/2021, you pay back another $25 as you get some extra money from your mom. Your DPD is 0 even though you are an extra good friend and return back before the last due date. On 11/1/2021, your girlfriend asks for all of your money and you don't have any money to return back to your friend. Since you cannot pay back all of the agreed amount on time, you are not a good friend with him anymore. Your DPD at the end of 11/1/2021 is 1, which represents 1 day past due on your debt.

In the real world situation, you definately have to take into account other factors like account interest, late fee etc. However, this test will assume that the world is so fantastic that the borrower only needs to pay back the principal.

**Task:** 

Create a function that calculate DPD (Days Past Due) per LoanID.

In [ ]:
import pandas as pd
import datetime
import numpy as np

In [ ]:
loantapeColumns = ['LoanID','DisbursementDate','InstallmentNumber','FaceValue','InstallmentDueDate','ExpectedPayment']
loantapeData = [[1,datetime.date(2021,1,1),1,300,datetime.date(2021,2,1),100],
        [1,datetime.date(2021,1,1),2,300, datetime.date(2021,3,1),100],
        [1,datetime.date(2021,1,1),3,300, datetime.date(2021,4,1),100],
        [2,datetime.date(2021,6,1),1,400, datetime.date(2021,7,1),100],
        [2,datetime.date(2021,6,1),2,400, datetime.date(2021,8,1),100],
        [2,datetime.date(2021,6,1),3,400, datetime.date(2021,9,1),100],
        [2,datetime.date(2021,6,1),4,400, datetime.date(2021,10,1),100],
         [3,datetime.date(2021,8,1),1,150, datetime.date(2021,8,15),50],
         [3,datetime.date(2021,8,1),2,150, datetime.date(2021,9,1),50],
         [3,datetime.date(2021,8,1),3,150, datetime.date(2021,9,15),50]
        ]

In [ ]:
collectionColumns = ['LoanID','CollectionDate','InstallmentNumber','CollectedAmount']
collectionData = [[1,datetime.date(2021,1,15),1,100],
        [1,datetime.date(2021,1,15),2,50],
        [1,datetime.date(2021,1,31),2,25],
        [2,datetime.date(2021,7,1),1,100],
        [2,datetime.date(2021,8,1),2,100],
        [2,datetime.date(2021,9,1),3,80],
        [2,datetime.date(2021,9,15),3,10],
        [3,datetime.date(2021,8,15),1,30],
        [3,datetime.date(2021,8,25),1,20],
        [3,datetime.date(2021,8,25),2,30]
        ]

In [ ]:
# Above are the loantape and collection tape which are the same structure as what you have done on the session 1

In [ ]:
'''
TO DO: Initiate Loantape and Colelction Tape in the dataframe.
'''
dfLoanTape = pd.DataFrame(data,columns=columns)
dfCollection = pd.DataFrame(collectionData,columns=collectionColumns)

In [ ]:
# Input : date(e.g. today), LoanID
# Output : DPD
# The function takes the date of the calculation and the unique identifier of the loan, and returns the number of days this loan is past due (DPD). 
# The return will be 0 if all of the payments were made on time, and non-zero if borrower was late on some of the payments
# Hint: use JOIN and AGGREGATE in your approach

In [ ]:
def calcDPD(dfCollection, dfLoanTape, _date, loanID):
  '''
  TO DO: Calculate the DPD for the particular loan on the particular date
  '''
  
  dfTemp = dfCollection.groupby(['LoanID','InstallmentNumber'],as_index=False).agg({'CollectedAmount':'sum'})
  dfGroup = dfLoanTape.merge(dfTemp, on=['LoanID','InstallmentNumber'])
  dfGroup['Active'] = np.where(dfGroup['InstallmentDueDate'] < _date, True, False)
  dfGroup = dfGroup[dfGroup['Active'] == True]
  dfGroup['DPD'] = np.where(dfGroup['CollectedAmount'] < dfGroup['ExpectedPayment'], datetime.date.today() - dfGroup['InstallmentDueDate'], 0)
  dfGroup = dfGroup.groupby('LoanID',as_index=False).agg({'DPD':'max'})
  DPD = dfGroup.loc[dfGroup['LoanID'] == loanID]['DPD'][0]
  return DPD.days

In [ ]:
_date = datetime.date(2021,3,1)

In [ ]:
  '''
  TO DO: Call the function and print out the DPD for all valid ID using _date = 2/1/2021, 8/15/2021 and 8/25/2021
  '''
  calcDPD(dfCollection, dfLoanTape, datetime.date(2021,2,1), loanID)

In [ ]:
# This is the example output of the function 
day = calcDPD(dfCollection, dfLoanTape, datetime.date(2021,3,1), 1)
day

0

# Section 3 : Feedback

Question 1 : What to do think about this assesment?

In [ ]:
# Answer :

Question 2 : If we are having a rotational program which you can work in the Dev/Ops side for 6-12 months and then switch to the main development side, what do you think about the program? Do you want to join or you want to work in only one part.

In [ ]:
# Answer :